@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-font {
  font-family: Arial, Helvetica, sans-serif;
}

.dancing-script-ftw {
  font-family: "Dancing Script", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
